<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-4">
                <div class="card">
                    <div class="card-header card-header-icon card-header-rose">
                        <div class="card-icon">
                            <i class="material-icons">visibility</i>
                        </div>
                        <h4 class="card-title">Ver ventas</h4>
                    </div>
                    <div class="card-body">
                        Resumen de las ventas
                        <ul>
                            <li>Todo</li>
                            <li>Pendientes de cancelación</li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="card">
                    <div class="card-header card-header-icon card-header-rose">
                        <div class="card-icon">
                            <i class="material-icons">shopping_cart</i>
                        </div>
                        <h4 class="card-title">Nueva venta</h4>
                    </div>
                    <div class="card-body">
                        Registro de nuevas ventas
                        <ul>
                            <li>Registro de venta</li>
                            <li>Importación de ventas</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
